body {
    background-image: linear-gradient(to right, rgb(13, 36, 50), rgb(55, 82, 109),
            rgb(103, 104, 171), rgb(172, 129, 136), rgb(254, 177, 125));
}

.container {
    max-width: 550px;
    margin: 135px auto;
    background: rgb(255, 255, 255);
    border-radius: 7px;
    padding: 28px 0px;
}

.done {
    color: green;
    text-decoration: line-through black;
}